{% extends 'base.html' %}
{% load static %}




{% block content %}

    <!-- Popular Job Categories -->
    <div class="section margin-top-65 margin-bottom-30">
        <div class="container">
            <div class="row">

                <!-- Section Headline -->
                <div class="col-xl-12">
                    <div class="section-headline centered margin-top-0 margin-bottom-45">
                        <h3>Jobs By Categories</h3>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">

                    <a href="{% url 'jobs-by-sales' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-pie-chart"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_sales.count }}</div>
                        <div class="category-box-content">
                            <h3>Sales / Marketing</h3>
                            <p>Sales, Marketing, Business Development</p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <a href="{% url 'jobs-by-back-office' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-cloud-upload"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_backoffice.count }}</div>
                        <div class="category-box-content">
                            <h3>Back Office </h3>
                            <p>Back Office/ Front Office/ Front Desk / Admin </p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <a href="{% url 'jobs-by-purchase-store' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-suitcase"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_purchase_store.count }}</div>
                        <div class="category-box-content">
                            <h3>Purchase / Store / SCM</h3>
                            <p>Purchase, Store Management, Material Management</p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="{% url 'jobs-by-account-finance' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-pencil"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_account_finance.count }}</div>
                        <div class="category-box-content">
                            <h3>Account & Finance</h3>
                            <p>Account, Finance, Tally, Inter CA & More</p>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6">
                    <a href="{% url 'jobs-by-graphic-digital' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-image"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_graphic_digital.count }}</div>
                        <div class="category-box-content">
                            <h3>Graphics & Digital Marketing</h3>
                            <p>Graphic Designer, Web Designer, Digital Marketing, SEO & More</p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <a href="{% url 'jobs-by-bpo' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-phone"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_bpo_ites.count }}</div>
                        <div class="category-box-content">
                            <h3>BPO & ITES</h3>
                            <p>BPO, Customer Service, Tele Caller, Customer Care & More</p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <a href="{% url 'jobs-by-engg' %}" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-industry"></i>
                        </div>
                        <div class="category-box-counter">{{ jobs_by_engg.count }}</div>
                        <div class="category-box-content">
                            <h3>Engineering & Manufacturing</h3>
                            <p>Production, Maintenance, Utilities, Packaging, Service & More </p>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="../jobs-list-layout-2.html" class="photo-box small"
                       data-background-image="images/job-category-08.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Gandhinagar</h3>
                            <span></span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Features Cities / End -->


{% endblock %}